<a href="https://colab.research.google.com/github/Ajal333/CodeVault-Python/blob/master/ajal_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [ ]:
dataframe = pd.read_csv("auto-mpg.csv") #To load the dataset

In [ ]:
dataframe.head() #To preview the first 5 entries of the dataset

    mpg  cylinders  displacement  ...  model year  origin                   car name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]

In [ ]:
filtered_df = dataframe[['mpg','cylinders','displacement','horsepower','weight','acceleration']]
filtered_df.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration
0  18.0          8         307.0         130    3504          12.0
1  15.0          8         350.0         165    3693          11.5
2  18.0          8         318.0         150    3436          11.0
3  16.0          8         304.0         150    3433          12.0
4  17.0          8         302.0         140    3449          10.5

In [ ]:
X = np.array(filtered_df[['cylinders','displacement','horsepower','weight','acceleration']])
Y = np.array(filtered_df[['mpg']])
print(X.shape) #Print number of rows in the set
print(Y.shape)

(392, 5)
(392, 1)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.25,random_state=1)
cf = LinearRegression() #Creating a regressor

In [ ]:
cf.fit(X_train, Y_train)

LinearRegression()

In [ ]:
cf.score(X_test, Y_test) #Accuracy score

0.7273141417425495

In [ ]:
Y_predict = cf.predict(X_test)

In [ ]:
mean_squared_error(Y_test, Y_predict) #Error checking

19.449917079595576

In [ ]:
cf.predict([[7,300,145,3241,10.8]]) #Predicting the values based on the trained data

array([[19.03443868]])